
.footer-container{
    display: flex;
    gap:30em;
    /* justify-content: space-between; */
}
.submit-btn{
    background-color: #673AB7;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 3px;


}
.para p:nth-child(1) {
    margin-left: 8em;

}
.para p:nth-child(2){
   margin-left: 10em;

}
.para p:nth-child(3) {
    text-align: center;
    font-size: x-large;
    color: gray;
    font-weight: 500;

}
