.select-container {
    display: flex;
    align-items: center;
    position: relative;
}

.form-select {
    flex: 1;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    appearance: none;
   
    background-color: transparent;
   transition: none 0.15s ease-in-out, none 0.15s ease-in-out;
}


.form-select:focus {
    border-color: none;
    
    box-shadow: 0 0 0 0.2rem rgba(103, 58, 183, 0.25);
    
}


.floating-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    /* Adjust as needed */
    font-size: 14px;
    color: none;
}